!!!
html(lang='en')
  head
    title Mincer demo
    !=stylesheet('app.css')

  body
    .container
      h1 Mincer demo
    script(id="modal-tpl",type="text/html-template")
      .modal
        .modal-header
          h3 Modal header
        .modal-body
          p Hello, world!

    !=javascript('app.js')
